<!-- todo-card.component.html -->

<div class="todo-card center-todo">
  <div class="todo-header">
    <h2>Titolo</h2>
    <span class="due-date">Scadenza: Scadenza</span>
  </div>
  <div class="todo-details">
    <div class="created-by">
      <img
        src="https://cdn-icons-png.flaticon.com/512/9131/9131529.png"
        alt="Immagine utente"
      />
      <span>CreateBy</span>
    </div>
    <div class="assigned-to">
      <img
        src="https://cdn-icons-png.flaticon.com/512/9131/9131529.png"
        alt="Immagine utente"
      />
      <span>assignedTo</span>
    </div>
  </div>
</div>
