.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.section1 {
  background-color: #e28525;
  width: 20%;
  height: 50vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}
.section2 {
  background-color: #016972;
  width: 20%;
  height: 50vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}
.section3 {
  background-color: #00403f;
  width: 20%;
  height: 50vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
}
button {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  cursor: pointer;
  color: #000;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  cursor: pointer;
  color: #000;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
