<div class="body">
  <div class="search">
    <div class="todo-form">
      <form (ngSubmit)="onSubmitSearch()">
        <input
          type="text"
          class="todo-input"
          id="title"
          placeholder="Inserisci un nuovo todo"
        />
        <button class="search-btn">Cerca</button>
      </form>
    </div>
    <div class="submit">
      <!-- Utilizza la stessa classe per entrambi i form -->
      <div class="todo-form">
        <form (ngSubmit)="onSubmit()">
          <input
            type="text"
            class="todo-input"
            id="submit"
            placeholder="L'id del todo da fleggare completato"
          />
          <button class="search-btn">Cerca</button>
        </form>
      </div>
    </div>
  </div>

  <main>
    <br />
    <app-todo-card [todos]="todos"></app-todo-card>
  </main>
</div>
